// Mapa de sombras
$shadows: (
  "xs" : 0px 1px 6px -1px rgba(28, 48, 74, 0.3),
  "s" : 0px 3px 8px rgba(28, 52, 84, 0.15),
  "m" : 0px 8px 24px -4px rgba(28, 50, 79, 0.24),
  "l" : 0px 12px 38px -6px rgba(28, 50, 79, 0.3),
  "xl" : 0px 18px 42px -8px rgba(28, 50, 79, 0.34)
);

/* ------------------------------------------------------------------- 
 * ## spacing and typescale
 * ------------------------------------------------------------------- */
 :root {
  /* spacing
   * base font size: 18px 
   * vertical space unit : 32px
   */
    --base-size        : 40%;
    --multiplier       : 1;
    --base-font-size   : calc(2.8rem * var(--multiplier));
    --space            : calc(4.4rem * var(--multiplier));

  /* vertical spacing 
   */
    --vspace-0_125     : calc(0.125 * var(--space));
    --vspace-0_25      : calc(0.25 * var(--space));
    --vspace-0_375     : calc(0.375 * var(--space));
    --vspace-0_5       : calc(0.5 * var(--space));
    --vspace-0_625     : calc(0.625 * var(--space));
    --vspace-0_75      : calc(0.75 * var(--space));
    --vspace-0_875     : calc(0.875 * var(--space));
    --vspace-1         : calc(var(--space));
    --vspace-1_25      : calc(1.25 * var(--space));
    --vspace-1_5       : calc(1.5 * var(--space));
    --vspace-1_75      : calc(1.75 * var(--space));
    --vspace-2         : calc(2 * var(--space));
    --vspace-2_5       : calc(2.5 * var(--space));
    --vspace-3         : calc(3 * var(--space));
    --vspace-3_5       : calc(3.5 * var(--space));
    --vspace-4         : calc(4 * var(--space));
    --vspace-4_5       : calc(4.5 * var(--space));
    --vspace-5         : calc(5 * var(--space));
    --vspace-5_5       : calc(5.5 * var(--space));
    --vspace-6         : calc(6 * var(--space));
    --vspace-6_5       : calc(6.5 * var(--space));
    --vspace-7         : calc(7 * var(--space));
    --vspace-7_5       : calc(7.5 * var(--space));
    --vspace-8         : calc(8 * var(--space));
    --vspace-8_5       : calc(8.5 * var(--space));
    --vspace-9         : calc(9 * var(--space));
    --vspace-9_5       : calc(9.5 * var(--space));
    --vspace-10        : calc(10 * var(--space));

  /* type scale
   * ratio 1        :2 | base: 18px
   * -------------------------------------------------------
   *
   * --text-huge-3    = (146.60px)
   * --text-huge-2    = (121.83px)
   * --text-huge-1    = (101.20px)
   * --text-display-3 = (84.00px)
   * --text-display-2 = (69.66px)
   * --text-display-1 = (57.72px)
   * --text-xxxl      = (47.77px)
   * --text-xxl       = (39.47px)
   * --text-xl        = (32.56px)
   * --text-lg        = (26.80px)
   * --text-md        = (22.00px)
   * --text-size      = (18.00px) BASE
   * --text-sm        = (14.67px)
   * --text-xs        = (11.89px)
   *
   * ---------------------------------------------------------
   */
    --text-scale-ratio : 1.15; // 1.2
    --text-size        : var(--base-font-size);
    --text-xs          : calc((var(--text-size) / var(--text-scale-ratio)) / var(--text-scale-ratio));
    --text-sm          : calc(var(--text-xs) * var(--text-scale-ratio));
    --text-md          : calc(var(--text-sm) * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-lg          : calc(var(--text-md) * var(--text-scale-ratio));
    --text-xl          : calc(var(--text-lg) * var(--text-scale-ratio));
    --text-xxl         : calc(var(--text-xl) * var(--text-scale-ratio));
    --text-xxxl        : calc(var(--text-xxl) * var(--text-scale-ratio));
    --text-display-1   : calc(var(--text-xxxl) * var(--text-scale-ratio));
    --text-display-2   : calc(var(--text-display-1) * var(--text-scale-ratio));
    --text-display-3   : calc(var(--text-display-2) * var(--text-scale-ratio));
    --text-huge-1      : calc(var(--text-display-3) * var(--text-scale-ratio));
    --text-huge-2      : calc(var(--text-huge-1) * var(--text-scale-ratio));
    --text-huge-3      : calc(var(--text-huge-2) * var(--text-scale-ratio));
}

/* on mobile devices below 600px, change the value of '--multiplier' 
 * to adjust the values of base font size and vertical space unit.
 */
@media screen and (max-width: 700px) {
    :root {
        --multiplier: .9375;
    }
}