@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz@8..144&family=Roboto:wght@500;700&display=swap');

:root {
	--font-1: "Roboto Flex", sans-serif;
	--font-2: 'Roboto', sans-serif;

  /* monospace
   */
	--font-mono: Consolas, "Andale Mono", Courier, "Courier New", monospace;
}