/* ------------------------- -------------------------------------------
 * ## extra large devices (1201px and above)
 * -------------------------------------------------------------------- */

 .xl-1 {
	flex: none;
	width: 8.3333333333%;
  }
  
  .xl-2 {
	flex: none;
	width: 16.6666666667%;
  }
  
  .xl-3 {
	flex: none;
	width: 25%;
  }
  
  .xl-4 {
	flex: none;
	width: 33.3333333333%;
  }
  
  .xl-5 {
	flex: none;
	width: 41.6666666667%;
  }
  
  .xl-6 {
	flex: none;
	width: 50%;
  }
  
  .xl-7 {
	flex: none;
	width: 58.3333333333%;
  }
  
  .xl-8 {
	flex: none;
	width: 66.6666666667%;
  }
  
  .xl-9 {
	flex: none;
	width: 75%;
  }
  
  .xl-10 {
	flex: none;
	width: 83.3333333333%;
  }
  
  .xl-11 {
	flex: none;
	width: 91.6666666667%;
  }
  
  .xl-12 {
	flex: none;
	width: 100%;
  }
  