/* --------------------------------------------------------------------
 * ## large devices (1001px to 1200px)
 * -------------------------------------------------------------------- */
 @media screen and (max-width: 1200px) {
	.lg-1 {
	  flex: none;
	  width: 8.3333333333%;
	}
  
	.lg-2 {
	  flex: none;
	  width: 16.6666666667%;
	}
  
	.lg-3 {
	  flex: none;
	  width: 25%;
	}
  
	.lg-4 {
	  flex: none;
	  width: 33.3333333333%;
	}
  
	.lg-5 {
	  flex: none;
	  width: 41.6666666667%;
	}
  
	.lg-6 {
	  flex: none;
	  width: 50%;
	}
  
	.lg-7 {
	  flex: none;
	  width: 58.3333333333%;
	}
  
	.lg-8 {
	  flex: none;
	  width: 66.6666666667%;
	}
  
	.lg-9 {
	  flex: none;
	  width: 75%;
	}
  
	.lg-10 {
	  flex: none;
	  width: 83.3333333333%;
	}
  
	.lg-11 {
	  flex: none;
	  width: 91.6666666667%;
	}
  
	.lg-12 {
	  flex: none;
	  width: 100%;
	}
  }
  