/* --------------------------------------------------------------------
 * ## mobile devices (401px to 600px)  
 * -------------------------------------------------------------------- */
 @media screen and (max-width: 600px) {
	.row {
	  width: 100%;
	  padding-left: 6vw;
	  padding-right: 6vw;
  
	  .row {
		padding-left: 0;
		padding-right: 0;
	  }
	}
  
	.mob-1 {
	  flex: none;
	  width: 8.3333333333%;
	}
  
	.mob-2 {
	  flex: none;
	  width: 16.6666666667%;
	}
  
	.mob-3 {
	  flex: none;
	  width: 25%;
	}
  
	.mob-4 {
	  flex: none;
	  width: 33.3333333333%;
	}
  
	.mob-5 {
	  flex: none;
	  width: 41.6666666667%;
	}
  
	.mob-6 {
	  flex: none;
	  width: 50%;
	}
  
	.mob-7 {
	  flex: none;
	  width: 58.3333333333%;
	}
  
	.mob-8 {
	  flex: none;
	  width: 66.6666666667%;
	}
  
	.mob-9 {
	  flex: none;
	  width: 75%;
	}
  
	.mob-10 {
	  flex: none;
	  width: 83.3333333333%;
	}
  
	.mob-11 {
	  flex: none;
	  width: 91.6666666667%;
	}
  
	.mob-12 {
	  flex: none;
	  width: 100%;
	}
  }
  