/* row 
 */

 .row {
	display: flex;
	flex-flow: row wrap;
	width: min(92%, var(--width-grid-max));
	margin: 0 auto;
  
	.row {
	  width: auto;
	  margin-left: calc(var(--gutter) * -1);
	  margin-right: calc(var(--gutter) * -1);
	}
  }
  
  /* column
   */
  
  .column {
	flex: 1;
	padding: 0 var(--gutter) 0 0;
  }
  
  .collapse > .column, .column.collapse {
	padding: 0;
  }
  
  /* row utility classes
   */
  
  .row {
	&.row-wrap {
	  flex-wrap: wrap;
	}
  
	&.row-nowrap {
	  flex-wrap: nowrap;
	}
  
	&.row-y-top {
	  align-items: flex-start;
	}
  
	&.row-y-bottom {
	  align-items: flex-end;
	}
  
	&.row-y-center {
	  align-items: center;
	}
  
	&.row-stretch {
	  align-items: stretch;
	}
  
	&.row-baseline {
	  align-items: baseline;
	}
  
	&.row-x-left {
	  justify-content: flex-start;
	}
  
	&.row-x-right {
	  justify-content: flex-end;
	}
  
	&.row-x-center {
	  justify-content: center;
	}
  
	&.row-center {
	  align-items: center;
	  justify-content: center;
	}
  }
  