/* --------------------------------------------------------------------
 * ## tablet devices (601px to 800px)  
 * -------------------------------------------------------------------- */
 @media screen and (max-width: 800px) {
	.tab-1 {
	  flex: none;
	  width: 8.3333333333%;
	}
  
	.tab-2 {
	  flex: none;
	  width: 16.6666666667%;
	}
  
	.tab-3 {
	  flex: none;
	  width: 25%;
	}
  
	.tab-4 {
	  flex: none;
	  width: 33.3333333333%;
	}
  
	.tab-5 {
	  flex: none;
	  width: 41.6666666667%;
	}
  
	.tab-6 {
	  flex: none;
	  width: 50%;
	}
  
	.tab-7 {
	  flex: none;
	  width: 58.3333333333%;
	}
  
	.tab-8 {
	  flex: none;
	  width: 66.6666666667%;
	}
  
	.tab-9 {
	  flex: none;
	  width: 75%;
	}
  
	.tab-10 {
	  flex: none;
	  width: 83.3333333333%;
	}
  
	.tab-11 {
	  flex: none;
	  width: 91.6666666667%;
	}
  
	.tab-12 {
	  flex: none;
	  width: 100%;
	}

	.row{
		width: min(97%, var(--width-grid-max));
	}
  }
  