/* ===================================================================
 * # PRELOADER
 * 
 * ------------------------------------------------------------------- */
 #preloader {
	position: fixed;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	background: var(--color-preloader-bg);
	z-index: 500;
	height: 100vh;
	width: 100%;
	opacity: 1;
	overflow: hidden;
}
  
.no-js #preloader {
	display: none;
}
  
#loader {
	position: relative;
	width: 4px;
	height: 4px;
	padding: 0;
	display: inline-block;
  
	> div {
	  content: "";
	  background: var(--color-loader);
	  width: 4px;
	  height: 4px;
	  position: absolute;
	  top: 0;
	  left: 0;
	  border-radius: 50%;
  
	  &:nth-of-type(1) {
		left: 15px;
	  }
  
	  &:nth-of-type(3) {
		left: -15px;
	  }
	}
}
  

  
.dots-jump > div {
	-webkit-animation: dots-jump 1.2s infinite ease;
	animation: dots-jump 1.2s infinite ease;
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
  
	&:nth-of-type(1) {
	  -webkit-animation-delay: 0.4s;
	  animation-delay: 0.4s;
	}
  
	&:nth-of-type(3) {
	  -webkit-animation-delay: 0s;
	  animation-delay: 0s;
	}
}
  
@-webkit-keyframes dots-jump {
	0% {
	  top: 0;
	}
  
	40% {
	  top: -6px;
	}
  
	80% {
	  top: 0;
	}
}
  
@keyframes dots-jump {
	0% {
	  top: 0;
	}
  
	40% {
	  top: -6px;
	}
  
	80% {
	  top: 0;
	}
}
  

  
.dots-fade > div {
	-webkit-animation: dots-fade 1.6s infinite ease;
	animation: dots-fade 1.6s infinite ease;
	-webkit-animation-delay: 0.4s;
	animation-delay: 0.4s;
  
	&:nth-of-type(1) {
	  -webkit-animation-delay: 0.8s;
	  animation-delay: 0.8s;
	}
  
	&:nth-of-type(3) {
	  -webkit-animation-delay: 0s;
	  animation-delay: 0s;
	}
}
  
@-webkit-keyframes dots-fade {
	0% {
	  opacity: 1;
	}
  
	40% {
	  opacity: 0.2;
	}
  
	80% {
	  opacity: 1;
	}
}
  
@keyframes dots-fade {
	0% {
	  opacity: 1;
	}
  
	40% {
	  opacity: 0.2;
	}
  
	80% {
	  opacity: 1;
	}
}
  

  
.dots-pulse > div {
	-webkit-animation: dots-pulse 1.2s infinite ease;
	animation: dots-pulse 1.2s infinite ease;
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
  
	&:nth-of-type(1) {
	  -webkit-animation-delay: 0.4s;
	  animation-delay: 0.4s;
	}
  
	&:nth-of-type(3) {
	  -webkit-animation-delay: 0s;
	  animation-delay: 0s;
	}
}
  
@-webkit-keyframes dots-pulse {
	0% {
	  transform: scale(1);
	}
  
	40% {
	  transform: scale(1.3);
	}
  
	80% {
	  transform: scale(1);
	}
}
  
@keyframes dots-pulse {
	0% {
	  transform: scale(1);
	}
  
	40% {
	  transform: scale(1.3);
	}
  
	80% {
	  transform: scale(1);
	}
}
  